<!DOCTYPE html>
<html>
<head>
    {% load static %}
    {% load chat_tags %}
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'chat/MainPage.css' %}">
	<link rel="shortcut icon" href="{% static 'images/chat_icon.png' %}">
    <title>Час с {{ recipient.username }}</title>
</head>
<body>
    <header>
        <img src="{% static 'chat/logo.png' %}">
    </header>
    <main>
        <div class="display">
            <section id="leftpanel">
                <h2>Пользователи</h2>
                <ul class="user-list">
                    {% for user in users %}
                        <li>
                            <a href="{% url 'chat_view' %}?recipient={{ user.username }}">
                                {{ user.first_name }}
                                {% if user.username in unread_counts %}
                                    <span class="unread-indicator" id="unread-count-{{ user.username }}">
                                        {{ unread_counts|get_item:user.username }}
                                    </span>
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <h2>Онлайн:</h2>
                <section id="online-users">
                    <ul id="online-users-list">
                    </ul>
                </section>
            </section>
            <section id="rightpanel">
                {% block content %}
                    <h1>Чат с {{ recipient.first_name }}</h1>
                    <div id="chat-log">
                    </div>
                    <div>
                        <textarea type="text" id="chat-message-input" size="100"></textarea>
                        <button id="chat-message-submit">Отправить</button>
                    </div>
                    <form id="date-filter-form">
                        <label for="start-date">Начальная дата:</label>
                        <input type="date" id="start-date" name="start_date">
                        <label for="end-date">Конечная дата:</label>
                        <input type="date" id="end-date" name="end_date">
                        <button type="submit">Фильтр</button>
                    </form>
                {% endblock %}
            </section>
        </div>
    </main>
    <footer style="background-color: lightwhite; font-size: 0.6em; padding-left: 2em;">
    	<p>По вопросам в IT отдел</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1iKG6gothVt6NHJBmW1mRw6UpP4kTNLhdp担当者はこちらに記入してください/W0JtlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        const username1 = "{{ user.username }}"; // Current user
        const username2 = "{{ recipient.username }}"; // Recipient user

        let chatSocket = null; // Declare and initialize chatSocket

        document.addEventListener('DOMContentLoaded', function() {
            const roomName = generateRoomName(username1, username2);

            chatSocket = new WebSocket(
                'ws://' + window.location.host + '/ws/chat/' + roomName + '/'
            );

            chatSocket.onopen = function(e) {
                console.log("WebSocket connection opened");
            };

            chatSocket.onclose = function(e) {
                console.log("WebSocket connection closed");
            };

            chatSocket.onmessage = function(e) {
                console.log("RECEIVED ON CLIENT: e.data=" + e.data);
                try {
                    const data = JSON.parse(e.data);
                    const type = data.type;

                    if (type === 'message_history') {
                        console.log("Received message history");
                        const messages = data.messages;
                        console.log("Number of messages:", messages.length);
                        messages.forEach(message => {
                            addMessageToChatLog(message, true);
                        });
                    } else if (type === 'new_message') {
                        console.log("Received new message");
                        addMessageToChatLog(data);
                        console.log("Recipient before sending mark_as_read:", data.sender);
                        chatSocket.send(JSON.stringify({
                            'type': 'mark_as_read',
                            'recipient': data.sender
                        }));
                    } else if (type === 'online_users') {
                        updateOnlineUsers(data.users);
                    } else if (type === 'notification') {
                        showNotification(data.message);
                    }
                } catch (error) {
                    console.error("Error processing message:", error);
                }
            };

            chatSocket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly');
            };

            document.querySelector('#chat-message-submit').onclick = function(e) {
                const messageInputDom = document.querySelector('#chat-message-input');
                const message = messageInputDom.value;
                chatSocket.send(JSON.stringify({
                    'type': 'message', // Add type here
                    'message': message
                }));
                messageInputDom.value = '';
            };

            const dateFilterForm = document.getElementById('date-filter-form');
            dateFilterForm.addEventListener('submit', function(event) {
                event.preventDefault();
                const startDate = document.getElementById('start-date').value;
                const endDate = document.getElementById('end-date').value;

                console.log("Start date:", startDate, "End date:", endDate);

                if (chatSocket) {
                    chatSocket.close();
                }
                chatSocket = new WebSocket(
                    'ws://' + window.location.host + '/ws/chat/' + roomName + '/?start_date=' + startDate + '&end_date=' + endDate
                );

                chatSocket.onopen = function(e) {
                    console.log("WebSocket connection opened with date filter");
                };

                chatSocket.onmessage = function(e) {
                    console.log("RECEIVED ON CLIENT (Date Filter): e.data=" + e.data);
                    try {
                        const data = JSON.parse(e.data);
                        const type = data.type;

                        if (type === 'message_history') {
                            console.log("Received message history (Date Filter)");
                            const messages = data.messages;
                            console.log("Number of messages:", messages.length);
                            messages.forEach(message => {
                                addMessageToChatLog(message, true);
                            });
                        }
                    } catch (error) {
                        console.error("Error processing message (Date Filter):", error);
                    }
                };

                chatSocket.onclose = function(e) {
                    console.log("WebSocket connection closed (Date Filter)");
                };
            });
        });

        function generateRoomName(user1, user2) {
            const usernames = [user1, user2].sort();
            return usernames[0] + '_' + usernames[1];
        }

        function escapeHTML(string) {
            let pre = document.createElement('pre');
            let text = document.createTextNode(string);
            pre.appendChild(text);
            return pre.innerHTML;
        }

        function addMessageToChatLog(data, isHistory = false) {
            const chatLog = document.querySelector('#chat-log');
            if (!chatLog) {
                console.error("Chat log element not found!");
                return;
            }

            let displayName;
            if (data.sender === username1) {
                displayName = "Я";
            } else {
                displayName = data.sender_first_name || data.sender;
            }

            // Add 'unread' class if the message is unread and not sent by the current user
            let unreadClass = (!data.is_read && data.sender !== username1) ? 'unread' : '';

            const messageHTML = `
                <div style="padding: 1em;" class="message ${isHistory ? 'history-message' : ''} ${unreadClass}">
                    <b style="text-align: right; display: block;">${escapeHTML(displayName)}:</b></br>
                    <pre style='white-space: pre-wrap; font-size: 1.2em;'>${escapeHTML(data.message)}</pre></br>
                    <span class="timestamp" style="text-align: right;display: block;">(${escapeHTML(data.timestamp)})</span>
                </div>
            `;

            chatLog.innerHTML += messageHTML;
            chatLog.scrollTop = chatLog.scrollHeight;
        }

        function updateOnlineUsers(users) {
            // Get the element where you want to display the online users
            const onlineUsersList = document.getElementById('online-users');

            // Clear the current list
            onlineUsersList.innerHTML = '';

            // Loop through the users and create list items
            users.forEach(user => {
                const listItem = document.createElement('li');
                listItem.textContent = user; // Or any other user info you want to display
                onlineUsersList.appendChild(listItem);
            });
        }
    </script>
</body>
</html>