<!DOCTYPE html>
<html>
<head>
    {% load static %}
    {% load chat_tags %}
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'chat/MainPage.css' %}">
	<link rel="shortcut icon" href="{% static 'images/chat_icon.png' %}">
    <title>Chat with {{ recipient.username }}</title>
</head>
<body>
    <header>
        <img src="{% static 'chat/logo.png' %}">
    </header>
    <main>
        <div class="display">
            <section id="leftpanel">
                <h2>Пользователи</h2>
                <ul class="user-list">
                    {% for user in users %}
                        <li>
                            <a href="{% url 'chat_view' %}?recipient={{ user.username }}">
                                {{ user.first_name }}
                                {% if user.username in unread_counts %}
                                    <span class="unread-indicator" id="unread-count-{{ user.username }}">
                                        ({{ unread_counts|get_item:user.username }})
                                    </span>
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </section>
            <section id="rightpanel">
                {% block content %}
                    <h1>Чат с {{ recipient.first_name }}</h1>
                    <form id="date-filter-form">
                        <label for="start-date">Начальная дата:</label>
                        <input type="date" id="start-date" name="start_date">
                        <label for="end-date">Конечная дата:</label>
                        <input type="date" id="end-date" name="end_date">
                        <button type="submit">Фильтр</button>
                    </form>
                    <div id="chat-log">
                        
                    </div>
                    <div>
                        <textarea type="text" id="chat-message-input" size="100"></textarea>
                        <button id="chat-message-submit">Отправить</button>
                    </div>
                {% endblock %}
            </section>
        </div>
    </main>
    <footer style="background-color: lightwhite; font-size: 0.6em; padding-left: 2em;">
    	<p>По вопросам в IT отдел</p>
        <section id="online-users">
            <h2>Онлайн:</h2>
            <ul id="online-users-list">
                </ul>
        </section>
    </footer>

    <script>
        const username1 = "{{ user.username }}"; // Текущий пользователь
        const username2 = "{{ recipient.username }}"; // Получатель
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const date = new Date();
            const timestamp = date.toLocaleTimeString() + ' ' + date.toLocaleDateString();

            const roomName = generateRoomName(username1, username2); // Функция для генерации roomName
            console.log("WebSocket Room Name:", roomName);

            let chatSocket = new WebSocket(
                'ws://' + window.location.host + '/ws/chat/' + roomName + '/'
            );

            function generateRoomName(user1, user2) {
                const usernames = [user1, user2].sort();
                return usernames[0] + '_' + usernames[1];
            }

            function addMessageToChatLog(data, isHistory = false) {
                const chatLog = document.querySelector('#chat-log');
                if (!chatLog) {
                    console.error("Chat log element not found!");
                    return;
                }

                let displayName;
                if (data.sender === username1) {
                    displayName = "Я"; // Отображаем "Я", если сообщение от текущего пользователя
                } else {
                    displayName = data.sender_first_name || data.sender; // Отображаем first_name или sender
                }

                const messageHTML = `
                    <div class="message ${isHistory ? 'history-message' : ''}">
                        <b style="text-align: right; display: block; padding-top: 1em;">${escapeHTML(displayName)}:</b></br>
                        <pre style='white-space: pre-wrap; font-size: 1.2em;'>${escapeHTML(data.message)}</pre></br>
                        <span class="timestamp" style="text-align: right;display: block;">(${escapeHTML(data.timestamp)})</span>
                    </div>
                `;

                chatLog.innerHTML += messageHTML;
                chatLog.scrollTop = chatLog.scrollHeight;
            }

            function escapeHTML(string) {
                let pre = document.createElement('pre');
                let text = document.createTextNode(string);
                pre.appendChild(text);
                return pre.innerHTML;
            }

            chatSocket.onmessage = function(e) {
                console.log("RECEIVED ON CLIENT: e.data=" + e.data);
                try {
                    const data = JSON.parse(e.data);
                    const type = data.type;

                    if (type === 'message_history') {
                        // ...
                    } else if (type === 'new_message') {
                        // ...
                    } else if (type === 'online_users') {
                        updateOnlineUsers(data.users);
                    }
                    else if (type === 'notification') {
                        // Handle notification
                        showNotification(data.message);
                    }
                } catch (error) {
                    console.error("Error processing message:", error);
                }
            };

            chatSocket.onopen = function(e) {
                console.log("WebSocket connection opened");
            };

            chatSocket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly');
            };

            const messageInput = document.querySelector('#chat-message-input');
            const sendButton = document.querySelector('#chat-message-submit');

            messageInput.focus();
            messageInput.onkeyup = function(e) {
                if (e.keyCode === 13) {  // Enter key
                    sendButton.click();
                }
            };

            sendButton.onclick = function(e) {
                const message = messageInput.value;
                if (message.trim() !== "") {
                    chatSocket.send(JSON.stringify({
                        'message': message
                    }));
                    messageInput.value = '';
                }
            };

            function updateOnlineUsers(users) {
                const onlineUsersList = document.getElementById('online-users-list');
                onlineUsersList.innerHTML = ''; // Clear the list
                users.forEach(user => {
                    const li = document.createElement('li');
                    li.textContent = user;
                    onlineUsersList.appendChild(li);
                });
            }

            function showNotification(data) {
            }
        });
    </script>
</body>
</html>