* {
	margin: 0;
	padding: 0;
	border: 0;
}

header {
	height: 100vh;/*
	background-image: url('main.jpg');
	width: 100%;*/
	background: url('main.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    mask-image: linear-gradient(#000, transparent);
}

/*
img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}*/

.shapka {
	display: inline-flex;
	text-align: center;
	width: 80%;
	padding: 0 10%;
	color: white;
	text-shadow: 1px 1px 1px #000;
	background-color: rgba(0, 0, 0, 0.5)
}

.shapka a {
	width: 20%;
	padding: 3% 1%;
	font-size: 1vw;
	text-decoration: none;
	color: white;
}

.shapka a h1 {
	margin-top: -1vh;
	font-size: 2vw;
}

.header-block {
	width: 76%;
	margin: 0% 10%;
	position: absolute;
	top: 20vh;
	padding: 2%;
	border-radius: 50px;
	background-color: white;
	box-shadow: 0px 0px 15px lightgray;
	font-size: 1.2vw;
	display: inline-flex;
}

.header-block p {
	padding: 1% 0%;
}

.logo {
	width: 50%;
}


footer {
	background-color: rgba(0, 0, 0, 0.7);
	width: 80%;
	padding: 3% 10%;
	color: white;
}

