* {
	margin: 0;
	padding: 0;
	border: 0;
}

header {
	height: 100vh;/*
	background-image: url('main.jpg');
	width: 100%;*/
	background: url('main.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    mask-image: linear-gradient(#000, transparent);
}

/*
img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}*/

.shapka {
	display: inline-flex;
	text-align: center;
	width: 80%;
	padding: 0 10%;
	color: white;
	text-shadow: 1px 1px 1px #000;
	background-color: rgba(0, 0, 0, 0.5)
}

.shapka a {
	width: 20%;
	padding: 3% 1%;
	font-size: 1vw;
	text-decoration: none;
	color: white;
}

.shapka a h1 {
	margin-top: -1vh;
	font-size: 2vw;
}

.header-block {
	width: 76%;
	margin: 0% 10%;
	color: white;
	text-shadow: 1px 1px 1px #000;
	background-color: black;
	position: absolute;
	top: 85vh;
	padding: 2%;
	border-radius: 50px;
}

footer {
	background-color: rgba(0, 0, 0, 0.7);
	width: 80%;
	padding: 3% 10%;
	color: white;
}

.slperekhodnik{
	max-width: 79vw;
	margin: 0 auto;
	width: 100%;
	position: absolute;
	top: 13.1vh;
	left: 10vw;
}

.gablok_sedakoda{
	width: 100%;
	height: 70vh;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 50px;
}

.slayder_karusel{
	position: relative;
	width: 500%;
	font-size: 0;
	animation: 20s gablok_sedakoda-ani infinite;
}

.slayder_karusel figure{
	width: 20%;
	height: auto;
	display: inline-block;
	position: inherit;
}

.slayder_karusel img{
	width: 100%;
	vertical-align: bottom;
}

.slayder_karusel figure figcaption{
	position: absolute;
	font-family: 'Roboto';
	font-size: 1.4rem;
	font-weight: 100;
	text-transform: uppercase;
	bottom: 0;
	background: rgba(0,0,0,0.6);
	color: #fff;
	width: 100%;
	padding: .5em;
}

@keyframes gablok_sedakoda-ani{
0%{
	left: 0%;
	top: 0;
}

20%{
	left: 0%;
	top: 0;
}

25%{
	left: -100%;
	top: 0;
}

45%{
	left: -100%;
	top: 0;
}

50%{
	left: -200%;
	top: 0;
}

70%{
	left: -200%;
	top: 0;
}

75%{
	left: -300%;
	top: 0;
}

95%{
	left: -300%;
	top: 0;
}

100%{
	left: -400%;
	top: 0;
}

}